body{

}
h1{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
#alap {

}
#logo_hatter {
    background-color: rgb(10, 22, 39);
    margin: 0px auto 0px auto;
}
#logo_hatter img {
    width: 40%;
}